# 3) Create a Tow series as Shown using pd.series() function.

# Series_A = [20,30,40,50,60]

# Series_B = [50,60,70,80,90]

In [17]:
import pandas as pd
import numpy as np

In [18]:
data={
    "Series_A":[20,30,40,50,60],
    "Series_B":[50,60,70,80,90]
}
df=pd.DataFrame(data)
print(df)

   Series_A  Series_B
0        20        50
1        30        60
2        40        70
3        50        80
4        60        90

# a) Get the items not comman to both.

In [19]:
df.isnull().sum()

Series_A    0
Series_B    0
dtype: int64

# b) Identify the smallest and largest element in the Series A.

In [20]:
# Smallest Element of Series A

sml=(df['Series_A'].min())
print(sml)

20

In [21]:
#Largest Element of Series A 

lar=(df['Series_A'].max())
print(lar)

60

# c) Find the sum of Series B

In [23]:
sum=(df['Series_B'].sum())
print("Sum of Seris B is :",sum)

Sum of Seris B is : 350

# d) Calculate Average in the Series A.

In [24]:
men=(df['Series_A'].mean())
print("Mean of Series A is  :",men)

Mean of Series A is  : 40.0

# e) Find the median in the given Series B

In [26]:
med=(df['Series_B'].median())
print("Median of Series B is :",med)

Median of Series B is : 70.0

# 4) Perform the follwing opeations on car manufacturing company dataset auto mpg, csv given below pandas.

In [31]:
import pandas as pd

# a) Read data from an existing file.

In [33]:
df=pd.read_csv('C:/Users/Pramoda A S/Desktop/AIML Documents/DataSets in CSV files/auto-mpg.csv')
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

# b) Statistical details of dataset.

In [34]:
df.describe()

,mpg,cylinders,displacement,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

# 3) Get all cars with 8 cylinders.

In [35]:
mr=df['cylinders']==8
ng=df[mr]
ng

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
291,19.2,8,267.0,125,3605,15.0,79,1,chevrolet malibu classic (sw)
292,18.5,8,360.0,150,3940,13.0,79,1,chrysler lebaron town @ country (sw)
298,23.0,8,350.0,125,3900,17.4,79,1,cadillac eldorado
300,23.9,8,260.0,90,3420,22.2,79,1,oldsmobile cutlass salon brougham
364,26.6,8,350.0,105,3725,19.0,81,1,oldsmobile cutlass ls

# d) Get the number of cars manufactured in each year.

In [37]:
fg=df.groupby(['model year']).count()
fg

,mpg,cylinders,displacement,horsepower,weight,acceleration,origin,car name
model year,,,,,,,,
70,29,29,29,29,29,29,29,29
71,28,28,28,28,28,28,28,28
72,28,28,28,28,28,28,28,28
73,40,40,40,40,40,40,40,40
74,27,27,27,27,27,27,27,27
75,30,30,30,30,30,30,30,30
76,34,34,34,34,34,34,34,34
77,28,28,28,28,28,28,28,28
78,36,36,36,36,36,36,36,36
79,29,29,29,29,29,29,29,29
80,29,29,29,29,29,29,29,29
81,29,29,29,29,29,29,29,29
82,31,31,31,31,31,31,31,31

# 5) Lee decides to walk 10000 steps every day combat the effect that lockdown has had on his body's agility, mobility, flexibility and strength . consider the follwing data from fitness tracker over a period of 10 days.

In [22]:
import numpy as np
dn=np.arange(1,11)
sw=[6012,4079,6386,5230,4598,5564,6971,7763,8032,8569]
arr=np.array([dn,sw])
arr.T
arr

array([[   1,    2,    3,    4,    5,    6,    7,    8,    9,   10],
       [6012, 4079, 6386, 5230, 4598, 5564, 6971, 7763, 8032, 8569]])

# a) Notice that tracker's battary dies every day at 7 pm , Discovers that an on average  , he walks 2000 steps evrayday after 7pm, prefrom an appropreat.

In [38]:
na=arr[:,7] + 2000
arr[:,7]=na
arr

array([[   1,    2,    3,    4,    5,    6,    7, 2008,    9,   10],
       [6012, 4079, 6386, 5230, 4598, 5564, 6971, 9763, 8032, 8569]])

# b) write a program that returns the steps walked if the walked are more than 9000.

In [5]:
m=arr[:,1]>9000
m
ma=arr[m]
ma

array([], shape=(0, 10), dtype=int32)

# c) print an array containig steps walked in sorted order.

In [39]:
sa=arr[arr[:,8].argsort()]
print("Sorted 2D Numpy array")
print(sa)

Sorted 2D Numpy array
[[   1    2    3    4    5    6    7 2008    9   10]
 [6012 4079 6386 5230 4598 5564 6971 9763 8032 8569]]

# d) Perform the apropreat opertion to add 1000 steps to all the absarvations using pandas.

In [14]:
nt=arr[:,1]+1000
arr[:,1]=nt
arr

array([[   1, 1002,    3,    4,    5,    6,    7, 2008,    9,   10],
       [6012, 5079, 6386, 5230, 4598, 5564, 6971, 9763, 8032, 8569]])

# e) Find out the days on which he walked more then 7000 steps using pandas.

In [16]:
mt=arr[:,1]>7000
ng=arr[mt]
arr

array([[   1, 1002,    3,    4,    5,    6,    7, 2008,    9,   10],
       [6012, 5079, 6386, 5230, 4598, 5564, 6971, 9763, 8032, 8569]])

# 6) Write python code to explain map(), filter(), reduce(), lambda().

# a) Lambda

In [43]:
ma=lambda a,b:a if(a>b) else b
print("maximum is :",ma(87,35))

maximum is : 87

# b) Map

In [45]:
def add(x):
    return x+4
l1=[4,8,2,5,3,9]
re=list(map(add,l1))
print("Added Numbers is :",re)

Added Numbers is : [8, 12, 6, 9, 7, 13]

# c) Filter

In [47]:
def salary(a):
    if a>2000:
        return True
l2=[1400,2700,640,3890,2680,1700,4000]
res=list(filter(salary,l2))
print("Above 2000 salary is :",res)

Above 2000 salary is : [2700, 3890, 2680, 4000]

# d)  Reduce

In [53]:
from functools import reduce

def sum(x,y):
    return x+y
l3=[6,7,8,9]
s=reduce(sum,l3)
print("Sum is :",s)

Sum is : 30

# 7) Assume Iris dataset and write the code

In [54]:
import pandas as pd

In [56]:
df=pd.read_csv("C:/Users/Pramoda A S/Desktop/AIML Documents/DataSets in CSV files/Iris.csv")
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

# a) Print first 5